<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.go.together.Mapper.CartMapper">


<!--&lt;!&ndash;    &lt;!&ndash;장바구니 상품추가 &ndash;&gt;&ndash;&gt;-->
    <insert id="insertCart">
        <selectKey keyProperty="cartNumber" order="BEFORE" resultType="int">
            SELECT SEQ_CART.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_CART(CART_NUMBER, PRODUCT_NUMBER, USER_NUMBER, CART_COUNT, SELECTED_SIZE, SELECTED_COLOR)
        VALUES (#{cartNumber}, #{productNumber}, #{userNumber}, #{cartCount}, #{selectedSize}, #{selectedColor})
    </insert>



<!--    &lt;!&ndash;    장바구니 상품 조회&ndash;&gt;-->
<!--    <select id="userCartList" resultType="cartVo">-->
<!--        SELECT C.CART_NUMBER,C.CART_COUNT,C.SELECTED_COLOR,C.SELECTED_SIZE,-->
<!--               U.USER_NUMBER,U.USER_ID,-->
<!--               P.PRODUCT_NUMBER,P.PRODUCT_NAME,P.PRODUCT_QUANTITY,P.PRODUCT_PRICE,-->
<!--               p.PRODUCT_QUANTITY * C.CART_COUNT AS TOTAL_COUNT,-->
<!--               P.PRODUCT_PRICE * C.CART_COUNT AS TOTAL_PRICE,-->
<!--               F.FILE_NAME,F.FILE_UPLOAD_PATH,F.FILE_UUID-->
<!--        FROM TBL_USER U-->
<!--                 JOIN TBL_CART C ON U.USER_NUMBER = C.USER_NUMBER-->
<!--                 JOIN  TBL_PRODUCT P ON P.PRODUCT_NUMBER = C.PRODUCT_NUMBER-->
<!--                 LEFT JOIN TBL_FILE F ON F.PRODUCT_NUMBER =  P.PRODUCT_NUMBER-->
<!--        WHERE U.USER_NUMBER=#{userNumber}-->
<!--    </select>-->


    <!--    장바구니 상품 조회-->
    <select id="userCartList" resultType="cartVo">
        SELECT C.CART_NUMBER, C.CART_COUNT, C.SELECTED_COLOR, C.SELECTED_SIZE,
               U.USER_NUMBER, U.USER_ID,
               P.PRODUCT_NUMBER, P.PRODUCT_NAME, P.PRODUCT_QUANTITY, P.PRODUCT_PRICE,
               P.PRODUCT_QUANTITY * C.CART_COUNT AS TOTAL_COUNT,
               P.PRODUCT_PRICE * C.CART_COUNT AS TOTAL_PRICE,
               F.FILE_NAME, F.FILE_UPLOAD_PATH, F.FILE_UUID
        FROM TBL_USER U
                 JOIN TBL_CART C ON U.USER_NUMBER = C.USER_NUMBER
                 JOIN TBL_PRODUCT P ON P.PRODUCT_NUMBER = C.PRODUCT_NUMBER
                 LEFT JOIN (
            SELECT FILE_NAME, FILE_UPLOAD_PATH, FILE_UUID, PRODUCT_NUMBER
            FROM (
                     SELECT FILE_NAME, FILE_UPLOAD_PATH, FILE_UUID, PRODUCT_NUMBER,
                            RANK() OVER (PARTITION BY PRODUCT_NUMBER ORDER BY FILE_NUMBER) AS RK
                     FROM TBL_FILE
                 ) T
            WHERE RK = 1
        ) F ON F.PRODUCT_NUMBER = P.PRODUCT_NUMBER
        WHERE U.USER_NUMBER = #{userNumber}
    </select>




    <!--    장바구지 상품 수량 추가-->
    <update id="addCart">
        UPDATE TBL_CART
        SET CART_COUNT = CART_COUNT + #{cartCount}
        WHERE CART_NUMBER = #{cartNumber}
    </update>


    <!--장바구니 상품 수량 감소-->
    <update id="minusCart">
        UPDATE TBL_CART
        SET CART_COUNT = #{cartCount} - CART_COUNT
        WHERE CART_NUMBER = #{cartNumber}
    </update>


    <!--    특정 회원, 특정 상품의 카트 번호 조회-->
    <select id="selectCartNumber" resultType="Long">
        SELECT CART_NUMBER
        FROM TBL_CART
        WHERE USER_NUMBER=#{userNumber} AND PRODUCT_NUMBER=#{productNumber}
    </select>




    <!--    장바구니 상품 수량 변경-->
    <update id="changeCartCount">
        UPDATE TBL_CART
        SET CART_COUNT = #{cartCount}
        WHERE CART_NUMBER = #{cartNumber}
    </update>


    <update id="changeColor">
        UPDATE TBL_CART
        SET SELECTED_SIZE = #{selectedSize}
        WHERE CART_NUMBER = #{cartNumber}
    </update>
    <update id="changeSize">
        UPDATE TBL_CART
        SET SELECTED_COLOR = #{selectedColor}
        WHERE CART_NUMBER = #{cartNumber}
    </update>


<select id="cartUserNumberTotalPrice">

    SELECT U.USER_NUMBER,
           SUM(P.PRODUCT_PRICE * C.CART_COUNT) AS TOTAL_PRICE
    FROM TBL_USER U
             JOIN TBL_CART C ON U.USER_NUMBER = C.USER_NUMBER
             JOIN TBL_PRODUCT P ON P.PRODUCT_NUMBER = C.PRODUCT_NUMBER
    WHERE C.USER_NUMBER =#{userNumber}
    GROUP BY U.USER_NUMBER
</select>


    <!--    장바구니 상품 삭제-->
    <delete id="deleteCart">
        DELETE
        FROM TBL_CART
        WHERE CART_NUMBER = #{cartNumber}
    </delete>







</mapper>


