<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.go.together.Mapper.ProductMapper">
    <insert id="insertProduct">
        <selectKey keyProperty="productNumber" order="BEFORE" resultType="long">
            SELECT SEQ_PRODUCT.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_PRODUCT (PRODUCT_NUMBER,CATEGORY_MAJOR_CODE, CATEGORY_MINOR_CODE, PRODUCT_NAME, PRODUCT_COLOR, PRODUCT_PRICE, DISCOUNT_RATE,
                                 PRODUCT_EXPLANATION, PRODUCT_QUANTITY, PRODUCT_SIZE,PRODUCT_REGISTER_DATE,USER_ID,USER_NUMBER)
        VALUES (#{productNumber}, #{categoryMajorCode},#{categoryMinorCode}, #{productName}, #{productColor}, #{productPrice}, #{discountRate},
          #{productExplanation}, #{productQuantity}, #{productSize},SYSDATE,#{userId},#{userNumber})
    </insert>



    <select id="selectProduct" resultType="productDto">
        SELECT *
        FROM TBL_PRODUCT
        WHERE PRODUCT_NUMBER = #{productNumber}
    </select>


    <select id="selectAllProduct" resultType="productVo">
        SELECT PRODUCT_NUMBER, CATEGORY_MAJOR_CODE, CATEGORY_MINOR_CODE, PRODUCT_NAME, PRODUCT_PRICE,
               PRODUCT_COLOR, DISCOUNT_RATE, DISCOUNT_PRICE, PRODUCT_EXPLANATION, PRODUCT_QUANTITY,
               PRODUCT_SIZE, PRODUCT_REGISTER_DATE, PRODUCT_EXPLANATION1, PRODUCT_EXPLANATION2,
               USER_ID, USER_NUMBER,
               FILE_UPLOAD_PATH, FILE_UUID, FILE_NAME
        FROM (
                 SELECT P.PRODUCT_NUMBER, P.CATEGORY_MAJOR_CODE, P.CATEGORY_MINOR_CODE, P.PRODUCT_NAME, P.PRODUCT_PRICE,
                        P.PRODUCT_COLOR, P.DISCOUNT_RATE, P.DISCOUNT_PRICE, P.PRODUCT_EXPLANATION, P.PRODUCT_QUANTITY,
                        P.PRODUCT_SIZE, P.PRODUCT_REGISTER_DATE, P.PRODUCT_EXPLANATION1, P.PRODUCT_EXPLANATION2,
                        U.USER_NUMBER, U.USER_ID,
                        F.FILE_UPLOAD_PATH, F.FILE_UUID, F.FILE_NAME
                 FROM TBL_USER U
                          JOIN TBL_PRODUCT P ON U.USER_NUMBER = P.USER_NUMBER
                          LEFT JOIN (
                     SELECT FILE_NUMBER, FILE_UPLOAD_PATH, FILE_UUID, FILE_NAME, PRODUCT_NUMBER
                     FROM (
                              SELECT FILE_NUMBER, FILE_UPLOAD_PATH, FILE_UUID, FILE_NAME, PRODUCT_NUMBER,
                                     RANK() OVER(PARTITION BY PRODUCT_NUMBER ORDER BY FILE_NUMBER) RK
                              FROM TBL_FILE
                          )
                     WHERE RK = 1
                 ) F ON P.PRODUCT_NUMBER = F.PRODUCT_NUMBER
             )
        ORDER BY PRODUCT_NUMBER DESC
    </select>


    <delete id="delete">
        DELETE FROM TBL_PRODUCT
        WHERE PRODUCT_NUMBER = #{productNumber}
    </delete>


    <update id="updateProduct">
    UPDATE TBL_PRODUCT
    SET  PRODUCT_NAME=#{productName}, PRODUCT_COLOR#{productColor}, PRODUCT_PRICE=#{productPrice}, DISCOUNT_RATE=#{discountRate},
         PRODUCT_EXPLANATION=#{productExplanation}, PRODUCT_QUANTITY=#{productQuantity}, PRODUCT_SIZE=#{productSize}
        WHERE PRODUCT_NUMBER=#{productNumber}
    </update>


    <select id="selectTotal" resultType="int">
        SELECT COUNT(PRODUCT_NUMBER) FROM TBL_PRODUCT
    </select>














</mapper>


